.container {
    max-width: 960px;
    width: 95%;
    margin: 0 auto;
    padding: 0 10px;
}

input[type="text"],
input[type="url"] {
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin: 10px 0;
    border: 1px solid #ccc;
    padding: 14px;
    color: #555;
}

button {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 150px;
    margin: 0 auto;
    padding: 14px;
    background: #5868bf;
    border-bottom: 2px solid #5868bf;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: rgba(88, 104, 191, 0.5);
}

.secret-block__title {
 font-size: 20px;
}

.hidden {
    display: none !important;
}

.tooltip {
    display: none;
}

.verify-code__container {
    /*position: relative;*/
    /*margin-top: 17px;*/
    /*display: block;*/
}

.verify-code__container:hover .tooltip {
    display: block;

}
.verify-code__container .tooltip {
    /*display: none;*/
    top: -30px;
    position: absolute;
}

.verify__block {
    margin-top: 40px;
    margin-bottom: 17px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    width: 100%;
    max-width: 230px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    /* box-shadow: 0 20px 30px -10px rgb(0 0 0 / 25%); */
    cursor: pointer;
}

.verify-code__container input {
    border: none !important;
}

.verify-code__container:hover input,
.verify-code__container:focus input {
    border: none !important;

}