<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
<div class="container">
    <a href="/">2fa fb.rip</a>
    <form class="form" id="inputForm">
        <label>
            <span class="secret-block__title"> Генератор кодов 2FA</span>
            <input id="secret" type="text" placeholder="Введите секретный код - 32 символа">
        </label>
        <button type="submit">Generate</button>
    </form>
    <div id="result" class="hidden">
        <label class="verify-code__container">
            <span id="copiedCode" class="tooltip">Скопировать</span>
            <input id="verifyCode" type="text" readonly>
        </label>
        <div id="remainTime">30</div>
        <div id="qrcode" class="qrcode"></div>
    </div>
</div>
<script src="js/otplib/buffer.js"></script>
<script src="js/otplib/index.js"></script>
<script src="js/qrcode.min.js"></script>
<script src="js/main.js?v=12212"></script>
</body>
</html>
